@font-face {
  font-family: "Raleway Thin";
  src: url(/static/webfonts/raleway_thin-webfont.eot);
  src: local("☺"),
    url("/static/webfonts/raleway_thin-webfont.woff") format("woff"),
    url("/static/webfonts/raleway_thin-webfont.ttf") format("truetype"),
    url("/static/webfonts/raleway_thin-webfont.svg") format("svg");
}
@font-face {
  font-family: "League Gothic";
  src: url(/static/webfonts/League_Gothic-webfont.eot);
  src: local("☺"),
    url("/static/webfonts/League_Gothic-webfont.woff") format("woff"),
    url("/static/webfonts/League_Gothic-webfont.ttf") format("truetype"),
    url("/static/webfonts/League_Gothic-webfont.svg") format("svg");
}
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
a img {
  border: 0;
}
body {
  overflow-x: hidden;
  font-size: 16px;
  background-color: rgb(25, 25, 25);
  font-family: "Raleway Thin", "Helvetica Thin", "Arial", sans-serif;
}
.btn {
  cursor: pointer;
}
a {
  outline: none;
  text-decoration: none;
  color: blue;
}
a:active {
}
a:visited {
  text-decoration: none;
  color: auto;
}
a:hover {
  text-decoration: underline;
}
canvas {
  position: absolute;
  top: 0;
  z-index: 0;
}
.container {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1),
    inset 0 2px 0 rgba(0, 255, 255, 1),
    inset 0 3px 0 rgba(255, 0, 255, 1),
    inset 0 4px 0 rgba(255, 255, 0, 1),
    inset 0 5px 0 rgba(0, 0, 0, 1);
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 230px;
  z-index: 1;
  display: table;
}
aside {
  position: relative;
  padding-top: 20%;
  visibility: hidden;
  opacity: 0;
  margin-top: 30px;
  position: relative;
  text-align: center;
  color: rgb(30, 30, 30);
  border-radius: 2px;
  background-color: rgba(255, 135, 0, 0);
}
.info {
  display: inline-block;
  position: absolute;
  top: -20px;
  left: 10px;
  box-shadow: -1px -1px 0 rgba(255, 255, 255, 0.25),
    1px 1px 0 rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  padding: 1em 1em 0.7em 1em;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url(/static/img/bg.png);
  border-radius: 4px;
}
.description {
  text-align: center;
  position: relative;
  float: left;
  box-shadow: 1px 0px 0 rgba(0, 0, 0, 0.75),
    2px 0px 0 rgba(255, 255, 255, 0.25);
  padding-right: 70px;
  margin-right: 30px;
}
.description p {
  text-align: left;
  margin-top: 0.4em;
}
.description p:first-child {
  margin-top: 0;
}
.contact {
  position: absolute;
  right: -10px;
  top: 0;
  bottom: 0;
  font-size: 0.8em;
}
.contact a {
  color: rgba(255, 255, 255, 0.5);
}
.contact ul {
}
.contact ul li {
  list-style: none;
  width: 24px;
  height: 24px;
  display: block;
}
.contact ul li:first-child {
  position: absolute;
  top: 0;
}
.contact ul li:last-child {
  position: absolute;
  bottom: 0;
}
#email-btn {
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  border: 1px solid rgb(10, 10, 10);
  width: 22px;
  height: 22px;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-family: Arial, "Times New Roman";
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  display: table;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  background-image: linear-gradient(bottom, rgb(33,33,33) 33%, rgb(71,71,71) 67%);
  background-image: -o-linear-gradient(bottom, rgb(33,33,33) 33%, rgb(71,71,71) 67%);
  background-image: -moz-linear-gradient(bottom, rgb(33,33,33) 33%, rgb(71,71,71) 67%);
  background-image: -webkit-linear-gradient(bottom, rgb(33,33,33) 33%, rgb(71,71,71) 67%);
  background-image: -ms-linear-gradient(bottom, rgb(33,33,33) 33%, rgb(71,71,71) 67%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.33, rgb(33,33,33)),
    color-stop(0.67, rgb(71,71,71))
  );
}
#email-btn > div {
  display: table-cell;
  vertical-align: middle;
}
iframe {
  height: 1px;
  width: 1px;
  position: absolute;
  top: -100px;
  left: -100px;
}
.tracks li {
  list-style: none;
  margin: 1em 0;
}
.tracks a {
  position: relative;
  display: inline;
  font-size: 42px;
  letter-spacing: 5px;
  color: rgb(255, 157, 0);
  text-transform: capitalize;
  text-shadow: -1px -1px 0 rgba(255, 127, 0, 1),
    -2px -2px 0 rgba(255, 127, 0, 1),
    -3px -3px 0 rgba(255, 127, 0, 1),
    -4px -4px 0 rgba(255, 127, 0, 1),
    -5px -5px 0 rgba(255, 255, 255, 0.75),
    1px 1px 0 rgba(0, 0, 0, 0.75);
}
.tracks a.active {
  color: rgb(0, 255, 255);
}
.tracks a.loading:before {
  position: absolute;
  left: -0.8em;
  top: -0.15em;
  content: url(/static/img/preloader.gif);
}
.tracks a:hover {
  text-decoration: none;
  border-bottom: 1px solid rgb(255, 127, 0);
}
footer {
  font-family: Arial;
  position: fixed;
  bottom: 0.1em;
  right: 0.1em;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.125);
}
footer a {
  color: rgba(255, 255, 255, 0.25);
}
footer > p {
  display: inline;
  margin-right: 1em;
}
.preloader {
display: none;
  z-index: 3;
  background-color: rgb(25, 25, 25);
  position: absolute;
  top: 7;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}
.preloader p:first-child {
  margin-top: 0.8em;
  font-size: 10em;
}
.preloader p:last-child {
  font-weight: bold;
  font-size: 3em;
}
